:root {
    --black: #222222;
    --rand-col: darkturquoise;
}

img.emoji {
    height: 0.8em;
    width: 0.8em;
    margin-right: 0;
    vertical-align: -0.1em;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--black);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    overflow: hidden;
}

h1 {
    margin: 0;
    margin-top: -50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
}

main {
    background-color: white;
    padding: 50px 35px;
    text-align: center;
    min-height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 2px;
    user-select: text;
}

::selection {
    background-color: var(--rand-col);
}

button {
    width: fit-content;
    border: none;
    padding: 8px 12px;
    background-color: lightgrey;
    border-radius: 2px;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    transition: 350ms;
    user-select: none;
}

button:hover {
    background-color: #c2c2c2;
}

#sentence>span:not(#about),
#sentence #about>.about {
    cursor: pointer;
}

#sentence>span:not(#about):hover,
#sentence #about>.about:hover {
    color: var(--rand-col);
}

#sentence>span:not(#about):hover::selection,
#sentence #about>.about:hover::selection {
    color: white;
}

.box-col {
    background-color: var(--rand-col);
    display: inline-block;
    padding: 5px;
    margin: 0 2px;
    box-shadow: 1px 1px 2px #22222220;
}

form {
    user-select: none;
}

#change-settings {
    display: flex;
    gap: 6px;
}

#change-settings>input {
    height: 100%;
    cursor: pointer;
    transition: 350ms;
}

#change-settings>input:hover {
    background-color: lightgrey;
}

#change-settings>select,
#change-settings>input {
    width: fit-content;
    border: none;
    padding: 2px 6px;
    background-color: white;
    border-radius: 2px;
    font-family: inherit;
    font-size: inherit;
}

#draw {
    position: absolute;
    z-index: -1;
}